%ul.unstyled
  -for meme in @memes 
    %li.thumbnail
      = link_to image_tag meme.image
      = link_to meme.tagline, meme_path(meme)
  
    %br
.fb-activity{"data-header" => "true", "data-height" => "500", "data-recommendations" => "true", "data-site" => "quickmeme.com", "data-width" => "500"}